ghlapitoken=your_ghl_pit_token_here
ghllocationid=your_ghl_location_id_here
vapikey=your_vapi_api_key_here
vapiassistantid=your_vapi_assistant_uuid_here
vapiphonenumberid=your_vapi_phone_number_uuid_here
queuetag=testingcoldcall
PORT=3000
